<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dewarder.akommons.binding">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">

        <!--View-->
        <activity android:name=".TestActivity"/>
        <activity android:name=".view.TestViewActivity"/>
        <activity android:name=".view.ViewViewTest$Activity"/>
        <activity android:name=".view.FragmentViewTest$Activity"/>
        <activity android:name=".view.DialogViewTest$Activity"/>
        <activity android:name=".view.ViewFinderProviderViewTest$Activity"/>

        <!--Dimen-->
        <activity android:name=".dimen.TestDimenActivity"/>
        <activity android:name=".dimen.ViewDimenTest$Activity"/>
        <activity android:name=".dimen.FragmentDimenTest$Activity"/>
        <activity android:name=".dimen.DialogDimenTest$Activity"/>
        <activity android:name=".dimen.ContextProviderDimenTest$Activity"/>

        <!--Integer-->
        <activity android:name=".integer.TestIntegerActivity"/>
        <activity android:name=".integer.ViewIntegerTest$Activity"/>
        <activity android:name=".integer.FragmentIntegerTest$Activity"/>
        <activity android:name=".integer.DialogIntegerTest$Activity"/>
        <activity android:name=".integer.ContextProviderIntegerTest$Activity"/>

        <!--String-->
        <activity android:name=".string.TestStringActivity"/>
        <activity android:name=".string.ViewStringTest$Activity"/>
        <activity android:name=".string.FragmentStringTest$Activity"/>
        <activity android:name=".string.DialogStringTest$Activity"/>
        <activity android:name=".string.ContextProviderStringTest$Activity"/>
    </application>

</manifest>